version: "3.9"

services:
  web:
    build: ./web
    ports:
      - "3000:3000"
    depends_on:
      - server
    environment:
      NUXT_PUBLIC_SOCKET_URL: http://server:3001

  server:
    build: ./server
    ports:
      - "3001:3001"
    environment:
      NODE_ENV: production
