# fly.toml app configuration file generated for planning-poker-service on 2025-05-30T09:35:47Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'planning-poker-service'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
